.DeleteData{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    height: 30%;
    border-radius: 10px;
    background-color: #34495e;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-size: 0.9rem;
}
.DeleteData .button{
    margin-top: 2%;
    background: none;
    border: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    

}
.DeleteData .button input{
    background: none;
    color: white;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
}
